<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Entidades30_5.Properties.Settings.conexion" connectionString="Data Source=LAB5PC11\SQLEXPRESS;Initial Catalog=Padron;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>